__pycache__/
*.py[cod]
*$py.class
.vscode/
.cursor/
*.code-workspace

*.log
logs/
logs_*.txt

model/
models/
*.pt
*.pth
*.ckpt

result/
results/
outputs/


venv/
env/
flow/
shrimp_env/


*.tmp
*.temp
*~

DiTExp_*
job_logs/
CFMDiT_full_*

cfm_dit/cfm_dit_job_logs/

cfm_dit/__pycache__/
